nav>li {
  list-style-type: square;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  width: 70%;
  padding: 5px;
  font-size: 12pt;
  margin-bottom: 5px;
  border-radius: 0px 0px 20px 0px;
}

nav>li>a {
  color: rgb(226, 221, 221);
  text-decoration: none;
}

nav>li:hover {
  background-color: rgb(81, 81, 241);
  color: white;
  font-weight: bolder;
}

nav>li>a:hover {
  color: white;
}

nav.submenu>li,
nav.submenu>li:hover {
  list-style-type: square;
  background-color: darkblue;
  border-radius: unset;
  font-size: 10pt;
}

h1 {
  font-size: 13pt;
  color: gray;
}

h2 {
  font-size: 12pt;
  color: dodgerblue;
}

h3 {
  font-size: 11pt;
  color: darksalmon;
}

code {
  white-space: pre-line;
  background-color: rgb(223, 219, 219);
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
  display: block;
  font-size: 10pt;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", Courier, monospace;
}

table {
  border: solid 1px gray;
}

a {
  color: darkslateblue;
}